In [1]:
# intalling folium
!pip install folium

Requirement already satisfied: folium in /opt/conda/envs/Python36/lib/python3.6/site-packages (0.11.0)
Requirement already satisfied: requests in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium) (2.21.0)
Requirement already satisfied: jinja2>=2.9 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium) (2.10)
Requirement already satisfied: numpy in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium) (1.15.4)
Requirement already satisfied: branca>=0.3.0 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium) (0.4.1)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (2020.4.5.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (1.24.1)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (2.8)
Requirement already satisfied: MarkupSafe>=0.23 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from jinja2>=2.9->folium) (1.1.0)

In [2]:
# import pandas, numpy, matplotlib, seaborn, folium, requests, json, BeautifulSoup

# library for data analysis
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# library to handle data in a vectorized manner
import numpy as np


# Matplotlib and associated plotting modules
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import matplotlib.colors as colors

import seaborn as sns
import folium 
import requests
import json
from bs4 import BeautifulSoup

# Nominatim converts an address into latitude and langitude values
from geopy.geocoders import Nominatim

# tranform JSON file into a pandas dataframe
from pandas.io.json import json_normalize

# import k-means from clustering stage
from sklearn.cluster import KMeans

print("all libraries have been imported");

all libraries have been imported

In [8]:
Sgsz_df = pd.read_csv('Singapore Subzones.csv')

In [9]:
Sgsz_df.head()

                    Subzone Planning Area   2000   2010   2015   2019
0               Flora Drive     Pasir Ris    ...    ...  12950  14610
1               Loyang East     Pasir Ris    ...    ...   2190   2160
2               Loyang West     Pasir Ris    ...    ...    200    190
3  Pasir Ris Central (Town)     Pasir Ris  20223  20808  25730  32190
4           Pasir Ris Drive     Pasir Ris  58458  61489  59480  55260

In [25]:
Sgsz2_df = Sgsz_df.drop(['2000','2010','2015', '2019'], axis=1)
Sgsz2_df.head()

                 Subzone Planning Area
0        Flora Drive, SG     Pasir Ris
1        Loyang East, SG     Pasir Ris
2        Loyang West, SG     Pasir Ris
3  Pasir Ris Central, SG     Pasir Ris
4    Pasir Ris Drive, SG     Pasir Ris

In [36]:
Sgsz2_df['Subzone'] = Sgsz2_df['Subzone'].astype(str).str.rstrip(', SG')
Sgsz2_df.head()

             Subzone Planning Area
0        Flora Drive     Pasir Ris
1        Loyang East     Pasir Ris
2        Loyang West     Pasir Ris
3  Pasir Ris Central     Pasir Ris
4    Pasir Ris Drive     Pasir Ris

In [39]:
Sgsz2_df.shape

(78, 2)

In [41]:
Sgsz2_df.to_csv('Cleaned up Sobzones and Planning Area.csv', index=False)

In [12]:
Sgsz_df.set_value(3, 'Subzone', 'Pasir Ris Central')
Sgsz_df.set_value(6, 'Subzone', 'Pasir Ris West')
Sgsz_df.set_value(7, 'Subzone', 'Elias')
Sgsz_df.set_value(35, 'Subzone', 'Kovan')
Sgsz_df.set_value(37, 'Subzone', 'Lorong Halus')
Sgsz_df.set_value(38, 'Subzone', 'Tai Seng')
Sgsz_df.set_value(56, 'Subzone', 'Anchorvale')
Sgsz_df.set_value(57, 'Subzone', 'Compassvale')
Sgsz_df.set_value(58, 'Subzone', 'Fernvale')
Sgsz_df.set_value(59, 'Subzone', 'Sungei Serangoon East')
Sgsz_df.set_value(60, 'Subzone', 'Sungei Serangoon West')
Sgsz_df.set_value(62, 'Subzone', 'Jalan Kayu West')
Sgsz_df.set_value(73, 'Subzone', 'Choa Chu Kang North')

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  if __name__ == '__main__':
/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:2: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  from ipykernel import kernelapp as app
/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:3: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  app.launch_new_instance()
/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:4: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:5: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:6: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:7: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:8: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:9: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:10: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:11: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:12: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:13: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

                      Subzone  Planning Area    2000    2010    2015    2019
0                 Flora Drive      Pasir Ris     ...     ...   12950   14610
1                 Loyang East      Pasir Ris     ...     ...    2190    2160
2                 Loyang West      Pasir Ris     ...     ...     200     190
3           Pasir Ris Central      Pasir Ris   20223   20808   25730   32190
4             Pasir Ris Drive      Pasir Ris   58458   61489   59480   55260
5              Pasir Ris Park      Pasir Ris     ...    1294    2980    7510
6              Pasir Ris West      Pasir Ris     ...     ...      20      20
7                       Elias      Pasir Ris   28938   36305   36330   36080
8                       Simei       Tampines     ...   42860   42710   40040
9               Tampines East       Tampines  137152  138807  138500  132840
10             Tampines North       Tampines     ...     ...     ...    2460
11              Tampines West       Tampines   75761   77956   78110   79670
12                      Xilin       Tampines     ...    2120    1920    1730
13                   Bayshore          Bedok    3414    6497    7480    7330
14                Bedok North          Bedok   87199   91139   85930   82530
15            Bedok Reservoir          Bedok   19999   23076   25400   25640
16                Bedok South          Bedok   54324   52313   51190   47420
17                    Frankel          Bedok   30828   31536   33570   34330
18                 Kaki Bukit          Bedok   43310   43781   40820   37670
19                  Kembangan          Bedok   37219   38722   38440   37950
20                     Siglap          Bedok    8025    7455    6930    6520
21                 Brickworks    Bukit Batok     ...     ...     ...   15060
22        Bukit Batok Central    Bukit Batok   24293   26553   26060   27260
23           Bukit Batok East    Bukit Batok   15626   15921   14570   12830
24          Bukit Batok South    Bukit Batok   13590   14651   13940   14990
25           Bukit Batok West    Bukit Batok   16134   16286   15190   15030
26                     Gombak    Bukit Batok     ...    8866    9820   10000
27                     Guilin    Bukit Batok     ...   13911   13130   13020
28                   Hillview    Bukit Batok   15652   17942   18220   19120
29             Hong Kah North    Bukit Batok   28788   30067   28340   26450
30       Defu Industrial Park        Hougang     ...     ...      20      20
31            Hougang Central        Hougang     ...     ...    4830    4730
32               Hougang East        Hougang     ...     ...   21940   25060
33               Hougang West        Hougang     ...     ...   50120   45400
34                    Kangkar        Hougang     ...     ...   26080   31670
35                      Kovan        Hougang   20894   23068   25640   24850
36              Lorong Ah Soo        Hougang   36640   34457   34180   32530
37               Lorong Halus        Hougang     ...     ...     ...     ...
38                   Tai Seng        Hougang     ...   12908   14700   14060
39                  Trafalgar        Hougang     ...     ...   44800   47940
40                    Bangkit  Bukit Panjang   25837   25286   23800   22490
41                 Dairy Farm  Bukit Panjang     ...    3750    5390    6780
42                      Fajar  Bukit Panjang   16711   22991   26770   28160
43                     Jelebu  Bukit Panjang   27487   34963   33470   31550
44             Nature Reserve  Bukit Panjang     ...    3601    3870    3810
45                    Saujana  Bukit Panjang   17707   21957   25530   26100
46                      Senja  Bukit Panjang     ...   16186   20200   20390
47             Boon Lay Place    Jurong West     ...   24384   31100   29630
48                   Chin Bee    Jurong West     ...     ...     ...      10
49                   Hong Kah    Jurong West   57421   59658   56870   54060
50        Jurong West Central    Jurong West   28916   69324   68200   64650
51                  Kian Teck    Jurong West     ...     ...      50      50
52                      Safti    Jurong West     ...     ...     ...     ...
53               Taman Jurong    Jurong West   29296   32338   36940   39980
54                      Wenya    Jurong West     ...    8190    8610    8310
55                     Yunnan    Jurong West   62600   73587   70890   68170
56                 Anchorvale       Sengkang     ...   30751   38040   46550
57                Compassvale       Sengkang     ...   13624   18510   21170
58                   Fernvale       Sengkang     ...   12786   35590   55110
59      Sungei Serangoon East       Sengkang     ...     ...     ...     ...
60      Sungei Serangoon West       Sengkang     ...     ...   59860   60160
61       Sengkang Town Centre       Sengkang     ...   52148   54680   61600
62            Jalan Kayu West       Sengkang     ...     ...      10      10
63             Greenwood Park      Woodlands     ...     ...      70      40
64                    Midview      Woodlands   28977   34629   35510   35510
65                North Coast      Woodlands     ...   15271   14610   12350
66                Senoko West      Woodlands     ...     ...      20      10
67                  Woodgrove      Woodlands   28587   35508   35850   34110
68             Woodlands East      Woodlands   64824   95401   95510   98510
69  Woodlands Regional Centre      Woodlands     ...     ...     ...      10
70            Woodlands South      Woodlands   21095   32698   35840   41040
71             Woodlands West      Woodlands   27972   31549   32890   33140
72      Choa Chu Kang Central  Choa Chu Kang   18082   20282   21400   22530
73        Choa Chu Kang North  Choa Chu Kang   25830   33209   34380   32390
74                  Keat Hong  Choa Chu Kang   13722   16399   15660   36950
75                 Peng Siang  Choa Chu Kang   28146   31257   32130   33380
76                  Teck Whye  Choa Chu Kang   26391   26887   27040   24720
77                    Yew Tee  Choa Chu Kang   23934   45257   43710   40910

In [13]:
Sgsz_df['Subzone'] = Sgsz_df['Subzone'].astype(str) + ', SG'
Sgsz_df.head()

                 Subzone Planning Area   2000   2010   2015   2019
0        Flora Drive, SG     Pasir Ris    ...    ...  12950  14610
1        Loyang East, SG     Pasir Ris    ...    ...   2190   2160
2        Loyang West, SG     Pasir Ris    ...    ...    200    190
3  Pasir Ris Central, SG     Pasir Ris  20223  20808  25730  32190
4    Pasir Ris Drive, SG     Pasir Ris  58458  61489  59480  55260

In [14]:
def getLanlong(i):
    subzone = Sgsz_df.loc[i, 'Subzone']
    address = subzone
    geolocator = Nominatim(user_agent="sg_explorer")
    location = geolocator.geocode(address)
    latitude = location.latitude
    longitude = location.longitude
    print(' {}'.format(latitude))
    
for x in range(78):
    getLanlong(x)

 1.3535817
 1.3753678
 1.3753678
 1.3719931
 1.3730307
 1.37898635
 1.3730307
 1.3769513
 1.3431881
 1.3560492499999999
 1.3690124
 1.3458660999999998
 1.32928175
 1.3128118
 1.3324018
 1.3425058
 1.3171997
 1.3146796
 1.3360277
 1.3210321
 1.3169991
 1.2869332
 1.3497278499999998
 1.3490572
 1.3490572
 1.3455305
 1.3588929
 1.3539591999999998
 1.3624042
 1.3553973
 1.35161105
 1.3710492
 1.3706821
 1.3706821
 1.3839286
 1.3599863
 1.3520481
 1.384578
 1.3354599
 13.7804133
 1.3800554
 1.3651581
 1.3845503
 1.3807653
 47.4161423
 1.3824196
 1.3826836
 1.34640455
 1.3369879
 1.3553973
 1.3396365
 1.3285109
 1.3304504
 1.33488355

AttributeError: 'NoneType' object has no attribute 'latitude'

In [15]:
for x in range(55,75):
    getLanlong(x)

 1.33828435
 1.3935589
 1.394518
 1.3904635
 1.3835814499999999
 1.3796737
 1.3909487
 1.3991059
 1.3555198499999999
 1.359286
 5.1056295
 1.4602965
 1.42913595
 1.436897
 1.436897
 1.4271409
 1.436897
 1.3823894
 1.3892601
 1.3786034

In [16]:
for x in range(76,78):
    getLanlong(x)

 1.3766705
 1.3974608

In [17]:
def getLanlong(i):
    subzone = Sgsz_df.loc[i, 'Subzone']
    address = subzone
    geolocator = Nominatim(user_agent="sg_explorer")
    location = geolocator.geocode(address)
    latitude = location.latitude
    longitude = location.longitude
    print(' {}'.format(longitude))
    
for x in range(54):
    getLanlong(x)

 103.967412
 103.9772924
 103.9772924
 103.9493766
 103.949255
 103.95037978854626
 103.949255
 103.94195645826582
 103.953371
 103.95513588323088
 103.93809295626107
 103.93846350820903
 103.96463587079418
 103.93903291761592
 103.9193052
 103.92522980731215
 103.95000550811523
 103.9191432
 103.9018509
 103.9129269
 103.9195871
 103.80756011310467
 103.75102058137736
 103.7495906
 103.7495906
 103.7397329
 103.7518249
 103.75245291425546
 103.76742729372796
 103.7214297
 103.89204505000001
 103.89435758379814
 103.8925450111407
 103.8925450111407
 103.9022055
 103.8848589
 103.8845867
 103.9228952
 103.8883024
 121.05223275706865
 103.7726443
 103.7740781
 103.7708003
 103.7634292
 9.291761295120672
 103.766833
 103.7623963
 103.7122848123319
 103.7128045
 103.7214297
 103.7073387
 103.6947962748651
 103.6834422
 103.72078867428404

In [18]:

for x in range(55,75):
    getLanlong(x)

 103.69108941866651
 103.88510756452612
 103.9004349
 103.8770826
 103.90428028946238
 103.9037271
 103.8951748
 103.8725982
 103.93278040127177
 103.83403591176392
 -1.2411473
 103.8052452
 103.78125034810185
 103.786216
 103.786216
 103.79429763815054
 103.786216
 103.7446238
 103.743728
 103.7490207

In [19]:
for x in range(76,78):
    getLanlong(x)

 103.7536471
 103.7474009

In [23]:
# The code was removed by Watson Studio for sharing.

                    Subzone  Latitude   Longitude
0               Flora Drive  1.353582  103.967412
1               Loyang East  1.375368  103.977292
2               Loyang West  1.375368  103.977292
3  Pasir Ris Central (Town)  1.371993  103.949377
4           Pasir Ris Drive  1.373031  103.949255

In [38]:
Sgtc_f = pd.merge(szlatlong, Sgsz2_df, on='Subzone')
Sgtc_f.head()

           Subzone  Latitude   Longitude Planning Area
0      Flora Drive  1.353582  103.967412     Pasir Ris
1      Loyang East  1.375368  103.977292     Pasir Ris
2      Loyang West  1.375368  103.977292     Pasir Ris
3  Pasir Ris Drive  1.373031  103.949255     Pasir Ris
4   Pasir Ris Park  1.378986  103.950380     Pasir Ris